<nav class="navbar navbar-default" style="background-color: #bafcb1;">
  <div class="container-fluid">
    <div class="navbar-header logo">
        <a class="navbar-brand" href="/" style="color: black;">Blogspot</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>  
    
    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav nav-justified nasti-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/my-blogs">View my Blogs</a></li>
        <li class="nav-item"><a class="nav-link" href="/write-blog">Write a new Blog</a></li>
          {% if session.get('user') %}
        <li class="nav-item"><a class="nav-link" ><span class="glyphicon glyphicon-user"></span> {{session['user']}}</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>     
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    