{% extends 'bootstrap/base.html' %}

{% block styles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" crossorigin="anonymous">
{% endblock styles %}

{% block title %} Blogs {% endblock title %}

{% block navbar %} {% include '_navbar.html' %} {% endblock navbar %}
{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages: %}
            <ul style="margin-right: 3%;">
            {% for category,message in messages %}
                <li class="alert alert-{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block sub_content %}
    {% endblock sub_content %}
{% endblock %}




