{% extends 'base.html' %}
{% block sub_content %}

<div class="container">
    <div class="text-center">
        <h2> My Blogs </h2>
    </div>
    {% if blogs: %}
        {% for blog in blogs %}
            <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">{{blog.title}}</h5><hr/>
                    <p class="card-text">{{ blog.body[:130] }}...</p>
                    <a href="/blogs/{{blog.id}}" class="btn btn-primary">View</a>
                    <a href="/edit-blog/{{blog.id}}" class="btn btn-secondary">Edit</a>
                    <a href="/delete-blog/{{blog.id}}" class="btn btn-danger">Delete</a>
                </div>
            </div><br/>
        {% endfor %}
    {% else %}
        <h1>
            No Blogs written by you
        </h1>
    {% endif %}
</div>

{% endblock sub_content %}